menu "Thinker Robot configuration"

        config WIFI_CONN_MAX_RETRY
            int "Maximum retry"
            default 6
            help
                Set the Maximum retry to avoid station reconnecting to the AP unlimited,
                in case the AP is really inexistent.
        
        config WIFI_SSID            
            string "WiFi SSID"
            default "myssid"
            help
                SSID (network name) for the example to connect to.
        
        config WIFI_PASSWORD            
            string "WiFi Password"
            default "mypassword"
            help
                WiFi password (WPA or WPA2) for the example to use.
                Can be left blank if the network has no security set.
        
        config EXAMPLE_TX_GPIO_NUM
            int "TX GPIO number"            
            default 5
            help
                This option selects the GPIO pin used for the TX signal. Connect the
                TX signal to your transceiver.
            
        config EXAMPLE_RX_GPIO_NUM
            int "RX GPIO number"            
            default 4
            help
                This option selects the GPIO pin used for the RX signal. Connect the
                RX signal to your transceiver.
endmenu
